/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #efeeee;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my css */

.nav-list {
  height: 80px;
  background-color: #efeeee;
  box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20rem;
}

.logo {
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  color: #696969;

  text-shadow: -5px -5px 8px #b1b0b0, 5px 5px 8px #ffffff;
  font-weight: 900;
}

.nav-list > .logo {
  padding: 10px 0;
  padding-right: 10px;
  border-right: 2px solid dimgray;
}

.nav-list li button {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 6px rgba(255, 255, 255, 1);
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  color: dimgray;
}

.nav-list li button:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 10px rgba(255, 255, 255, 1);
}

.nav-list li button:focus {
  outline: none;
  transform: scale(0.95);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 10px rgba(255, 255, 255, 1),
    4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
    -4px -4px 10px rgba(255, 255, 255, 1) inset;
}

.nav-list li button:hover,
:focus {
  color: orangered;
}

.jumbotron {
  /* margin-top: 4rem;
  margin-left: 3rem; */
  padding: 70px 0;
  width: 100%;
  display: flex;
  z-index: -1;
  /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 10px rgba(255, 255, 255, 1),
    4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
    -4px -4px 10px rgba(255, 255, 255, 1) inset; */
}

.left-jumbotron {
  margin-left: 20rem;
  width: 35%;
  border-radius: 19px;
  background: #efeeee;
  box-shadow: 5px 5px 10px #a3a2a2, -5px -5px 10px #ffffff;
}

.right-jumbotron {
  padding: 4rem 0;
  margin-left: 7rem;
  text-align: center;
  width: 25%;
  border-radius: 19px;
  background: #efeeee;
  box-shadow: 5px 5px 10px #a3a2a2, -5px -5px 10px #ffffff;
}

.right-jumbotron > .logo {
  font-size: 50px;
}

.right-jumbotron > hr {
  margin: 3rem auto;
  border-width: 4px;
  box-shadow: 5px 5px 10px #a3a2a2, -5px -5px 10px #ffffff;
}

.mliyuk {
  width: 50%;
  color: dimgray;
}
/* 
.row-icon-angle-down {
  width: 100%;
  display: flex;
  justify-content: center;
} */

.row {
  background-color: #efeeee;
  font-size: 50px;
  padding: 40px 35px;
  border-radius: 10px;
  transform: scale(0.67);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 10px rgba(255, 255, 255, 1),
    4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
    -4px -4px 10px rgba(255, 255, 255, 1) inset;
}
.row > img {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.thumbnail {
  height: 100%;
  width: 100%;
}

.thumbnail:hover + .button-on-hover {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 6px rgba(255, 255, 255, 1);
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  color: orangered;
  background-color: rgb(170, 169, 169);
}

.button-on-hover {
  background-color: rgb(170, 169, 169);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 6px rgba(255, 255, 255, 1);
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  color: white;
  width: fit-content;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: inherit;
}

.img-wrapper {
  width: 450px;
  height: 650px;
  position: relative;
}

.row > .logo {
  padding: 60px auto;
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.row-box {
  margin-top: 24px;
}

.display {
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
}

.frame {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  height: 80px;
  width: 67%;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 10px;
  background-color: #efeeee;
}

.btn-footer {
  height: 45px;
  width: 45px;
  border-radius: 3px;
  background: #efeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}
.btn-footer:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.tools {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.tools > li {
  margin: 20px 60px 60px 0;
}

input[type="text"] {
  width: 100%;
  height: 65px;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  outline: none;
  transform: scale(0.95);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 10px rgba(255, 255, 255, 1),
    4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
    -4px -4px 10px rgba(255, 255, 255, 1) inset;
}

input[type="textarea"] {
  width: 100%;
  height: 205px;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  outline: none;
  transform: scale(0.95);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 10px rgba(255, 255, 255, 1),
    4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
    -4px -4px 10px rgba(255, 255, 255, 1) inset;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

button[type="submit"] {
  width: 100%;
  height: 70px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border: none;
  border-radius: 14px;
  font-size: 30px;
}
